body {
    font-family: 'Playfair Display', serif;
}
div.container-fluid.wrapper {
    padding: 0 !important;
}
h2 {
    font-size: 3rem;
}

/* Navbar */
.navbar {
    background-color: #909cc4;
    min-height: 5rem;
    border: 1px solid #d9bfb5;
    margin: auto;
}
.navbar .nav-link {
    color: white !important;
}
.navbar-brand {
    color: #232653;
    margin-right: 4rem;
    font-size: 1.5rem;

}
.nav-item {
    font-size: 1.5rem;
    padding-left: 2rem;
}

/* About section */
.jumbotron-fluid.about {
    height: 631px;
    color: #232653;
    padding: 25px;
    background-image: url("img/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
    border: 1px solid #909cc4;
    border-top: none;
    border-bottom: none;
}
.jumbotron-fluid h1 {
    font-size: 3rem;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 3px;
    letter-spacing: 0;
    display: block;
}
.jumbotron-fluid p{
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 30px;
}
.jumbotron-fluid section {
    text-align: left;
    font-size: 1.5rem;
    max-width: 65%;
}

/* Skills */
div.container-fluid.row {
    background-color: #d9bfb5;
    margin: 0;
    color: #232653;
    padding-bottom: 20px;
    border: 1px solid #909cc4;
    border-top: none;
}
h2.col-12.text-center {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
div.container.col-5 {
    margin-left: 0;
}
p.text-left {
    margin-bottom: 2px;
    font-size: 0.8rem;
}
.progress {
    margin-bottom: 40px;

}
p.text-left {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Experience */
.jumbotron-fluid.experience {
    height: 152px;
    color: #232653;
    margin-bottom: 0;
    background-image: url("img/ocean.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: local;
    background-size: cover;
}
.jumbotron-fluid.experience h2 {
    line-height: 42px;
    font-weight: bold;
}
.experience__description {
    padding: 30px;
    background-color: #909cc4;
    color: #232653;
    line-height: 1cm;
    font-size: 1.5rem;

}
/* Portfolio */
.jumbotron-fluid.portfolio {
    height: 152px;
    color: #d9bfb5;
    margin-bottom: 0;
    background-image: url("img/cornflower.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: local;
    background-size: cover;
}
.container.row.portfolio {
    background-color: #d9bfb5;
}
.jumbotron-fluid.portfolio h2 {
    font-weight: bold;
    line-height: 42px;
}


/* Contact me */
ul#contact-info li{
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
div.col-6 p.text-center {
   line-height: 1cm;
    font-size: 1.5rem;
    margin: auto;

}
a {
    color: #232653;
}
a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Bottom to Top Arrow */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #232653;; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #d9bfb5;; /* Add a dark-grey background on hover */
}

/* Footer */
div.navbar.navbar-dark.footer {
    height: 2rem !important;
    border-top: none !important;
}
 p.text-center.copy {
    font-size: 0.8rem;
    margin: auto;
     padding-top: 10px;
 }

